In [1]:
import pandas as pd

In [2]:
!ls

2.3_value_events_encoded_ts2sec.csv
control_dataset.yml
Events_Dictionary.json
info.ipynb

In [4]:
path = '2.3_value_events_encoded_ts2sec.csv'
df = pd.read_csv(path)  # o usa el nombre que aparezca en uploaded
df.head()

    Timestamp  event
0  1651363201     73
1  1651363201      4
2  1651363201     38
3  1651363201    101
4  1651363201    117

In [ ]:
import os, csv
path = '2.3_value_events_encoded_ts2sec.csv'

cwd: /content
exists: False
Error al leer: FileNotFoundError [Errno 2] No such file or directory: 'Datasets\\Epoch-Dataset\x02.3_value_events_encoded_ts2sec.csv'
Falló con encoding utf-8 -> FileNotFoundError
Falló con encoding latin1 -> FileNotFoundError
Falló con encoding cp1252 -> FileNotFoundError
Intentando con separador detectado: ','
Sigue fallando: FileNotFoundError [Errno 2] No such file or directory: 'Datasets\\Epoch-Dataset\x02.3_value_events_encoded_ts2sec.csv'

<>:2: SyntaxWarning: invalid escape sequence '\E'
<>:2: SyntaxWarning: invalid escape sequence '\E'
/tmp/ipython-input-4048268825.py:2: SyntaxWarning: invalid escape sequence '\E'
  path = 'Datasets\Epoch-Dataset\2.3_value_events_encoded_ts2sec.csv'

In [5]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df.describe()